<div class="container">
  <h1>Auctions watched by <%= current_user.first_name %> <%= current_user.last_name %></h1>

  <ul>
    <% @auctions.each do |auction| %>
      <li><%= link_to auction.title, auction %></li>
    <% end %>
  </ul>
</div>
