.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-block {
  padding: 20px;
  padding-top: 0;
}

.price-block {
  padding: 30px;
}

.log-in {
  position: absolute;
  padding: 15px;
  right: 0px;
}

.nav-text{
  color: white;
}
